<div data-role="appbar">
    
    <a class="app-bar-element branding">PL/0</a>
    <span class"app-bar-divider bg-white"></span>
    <ul class="app-bar-menu dark title-area-scheme-dark">
        <li><href="https://campusvirtual.ull.es/1516/course/view.php?id=178">Procesadores de Lenguaje</href></li>
        <li><href="https://en.wikipedia.org/wiki/Recursive_descent_parser">Gramatica PL/0</href></li>
        <li><href="https://github.com/ULL-ESIT-GRADOII-PL/proyecto-norberto_albano">Repositorio Org.</href></li>
        <li><href="http://pegjs.org/">PEGjs</href></li>
    </ul>
</div>