<div class="app-bar fixed-top">
    
    <a class="app-bar-element branding">PL/0</a>
    <span class"app-bar-divider bg-white"></span>
    <ul class="app-bar-menu title-area-scheme-dark">
        <li><href="https://campusvirtual.ull.es/1516/course/view.php?id=178">Procesadores de Lenguaje</href></li>
        <li><href="https://en.wikipedia.org/wiki/Recursive_descent_parser">Gramatica PL/0</href></li>
        <li><href="https://github.com/ULL-ESIT-GRADOII-PL/proyecto-norberto_albano">Repositorio Org.</href></li>
        <li><href="http://pegjs.org/">PEGjs</href></li>
    </ul>
</div>
<table>
    <tr>
        <td class="size200">
             <div class="title-area-scheme-dark">
                <ul class="sidebar title-area-scheme-dark">
                    <!- crear de forma dinamica los li con los nombres de los ficheros -->
                    <li>Prueba</li>
                    <li>Prueba 1</li>
                </ul>
            </div>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <textarea class = "drop_zone margin-left" autofocus="" cols = "80" rows = "5" id="original"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="button parse place-right button-shadow text-shadow">Parse</button>
                    </td>
                    
                </tr>
            </table>
             
        </td>
    </tr>
   
</table>