$font:  "Segoe UI", "Open Sans", sans-serif, serif
$app-bar-color: #0072c6
$app-bar-active-color: #005696
$sidebar-color: #71b1d1
$white-color: #ffffff
$parse-color:  #60a917
$save-color: #2086bf

body
    font-family: $font

    
.page-content 
    padding-top: 3.125rem
    position: fixed
    min-height: 100%
    height: 100%
    margin: 0
    top: 0
    left: 0
    bottom: 0
    float: left


.flex-container
    display: block
    width: 100%
    //height: 100%
    .row
        display: flex
        //height: 100%
        .cell
            flex: 0 0 8.33333333%
            .auto-size
                flex: 1 auto
           

.app-bar
    display: block
    width: 100%
    background-color: $app-bar-color
    color: $white-color
    height: 50px 

    .app-bar-element 
        line-height: 3.125rem
        padding: 0 .625rem
        font-size: 1rem
        cursor: pointer
        color: inherit
        display: block
        float: left
        position: relative
        vertical-align: middle
        height: 3.125rem


    .app-bar-element.title 
        padding-left: 1rem
        padding-right: 1rem

    .app-bar-element:hover,
    .app-bar-element:active 
        background-color: $app-bar-active-color

    .app-bar-link 
        display: block
        float: left
        margin: 0
        padding: 0

    .app-bar-link > li,
    .app-bar-link > li > a 
        line-height: 3.125rem
        padding: 0 .625rem
        font-size: 1rem
        cursor: pointer
        color: inherit
        display: block
        float: left
        position: relative
        vertical-align: middle
        height: 3.125rem
    
//marca de color $app-bar-active-color cuando pasa por
//arriba el raton

.app-bar .app-bar-link > li:hover,
.app-bar .app-bar-link > li > a:hover,
.app-bar .app-bar-link > li:active,
.app-bar .app-bar-link > li > a:active 
    background-color: #005696


    
.fixed-top
    top: 0
    bottom: auto
    position: fixed
    left: 0
    right: 0



.sidebar
    background-color: $sidebar-color
    color: $white-color
    position: relative
    width: 100%
    height: 100%
    padding: 0
    margin: 0
    list-style: none inside none
    top: 0
    left: 0
    bottom: 0

    li 
        display: block
        background-color: inherit
        color: inherit
        position: relative
        height: 52px !important

    li a 
        display: block
        background-color: inherit
        color: inherit
        padding: .625rem 1rem .625rem 3.75rem
        position: relative
        width: 100%
        height: 100%
        line-height: .875rem
        
        .title 
            font-size: .6875rem
            font-weight: bold
            text-transform: uppercase


.padding-20 
    padding: 1.25rem


.button
    padding: 0 1rem
    height: 2.125rem
    text-align: center
    vertical-align: middle
    background-color: #ffffff
    border: 1px #d9d9d9 solid
    color: #262626
    cursor: pointer
    display: inline-block
    outline: none
    font-size: .875rem
    line-height: 100%
    margin: .15625rem 0
    position: relative
    .parse 
        background: #60a917
        color: $white-color
        border-color: #60a917

    .parse:active 
        background: #128023
        color: $white-color

    
.place-right 
    float: right !important


